<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MINI ECM</title>
        <script src="views/dojo_script.js"></script>
        
	    <link rel="stylesheet" href="views/dijit/themes/claro/claro.css">
	    <link rel="stylesheet" href="views/dojox/grid/resources/Grid.css">
	    <link rel="stylesheet" href="views/dojox/grid/resources/claroGrid.css">
	
        <script>dojoConfig = {parseOnLoad: true}</script>
        <script src="views/dojo/dojo.js"></script>
        
        <script>
            require(["dojo/parser", "dijit/layout/TabContainer", "dijit/layout/ContentPane", "dijit/layout/BorderContainer"]);
	    </script>
       
        <style type="text/css">
            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                overflow:hidden;
            }

            #borderContainer {
                width: 100%;
                height: 100%;
            }
	    </style>
       
       
        
    </head>
    <body class="claro">
        
        
        <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'sidebar', gutters:true, liveSplitters:true" id="borderContainer">
            <div id='tree' data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:true, region:'leading'" style="width: 15%;">
            </div>
            
            
            <div id='content' data-dojo-type="dijit/layout/ContentPane" data-dojo-props="splitter:true, region:'center'">
                <div id='tabs' data-dojo-type="dijit/layout/TabContainer" style="width: 100%; height: 100%;">
                </div>
            </div>
        </div>
        
       <script>
        require([
            "dojo/_base/window", "dojo/store/Memory",
            "dijit/tree/ObjectStoreModel", "dijit/Tree",
            "dojo/domReady!"
        ], function(win, Memory, ObjectStoreModel, Tree){

            createTree(win, Memory, ObjectStoreModel, Tree);


        });
        dojo.connect(dojo.byId("tree"), "a:click", function() {addTab(this)});
	   </script>
    </body>
</html>


